<!--footer-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>
    <h6 class="navbar-text"> Group 16: Tala Bashanfar, Ethar Almaghrabi, Ashvien Rameshkumar  .</h6>
  </nav>
  </footer>
</body>
</html>