<%- include('../Partials/header'); -%> 
<%- include('../Partials/main_nav'); -%> 
<!--Message Area-->
<main class="container">
    <% if(message.length > 0){
        <div class="alter alter-danger">
            <%= message %>
        </div>
    <% } %>
    <div class="row">
        <div class="offser-md-4 col-md-4">
            <h1>Please login</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter the username"
                    id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="passward"></label>
                    <input type="passward" class="form-control"
                    name="passward" placeholder="Enter the passward"
                    id="passward" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="email"></label>
                    <input type="text" class="form-control"
                    name="email" placeholder="Enter the email"
                    id="email" required >
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName"></label>
                    <input type="text" class="form-control"
                    name="displayName" placeholder="Enter the displayName"
                    id="displayName" required >
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success"
                    value="Register">
                    <a href="/">
                    <input type="button" class="btn btn-warning"
                    value="Cancel">
                    </a>
                </fieldset>
        </div>
    </div>
</main>
<%- include('../Partials/footer'); -%>
